/* Resetando estilos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* Container principal */
.App {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 10px;
}

/* Estilo para o input de imagem */
input[type="file"] {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

input[type="file"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Estilo do botão de conversão */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilo da imagem carregada */
img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Link para o download */
a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background-color: #218838;
}

/* Estilo do estado de carregamento */
p {
  font-size: 1rem;
  color: #007bff;
  font-weight: bold;
}
